@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Ibarra+Real+Nova&display=swap');


*{
  box-sizing: border-box;
}

body {
  margin: 3%;
}

header {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
}

#logo {
  border: 1px solid red;
  width: 75%;
  font-family: 'Permanent Marker', cursive;
  display: flex;
  justify-content: flex-start;
}

#logo img {
  border-radius: 30%;
}


footer {
  clear: both;
  height: 80px;
  width: 1800px;
  text-align: left;
  margin: 0px 0px 0px 0px;
  font-family: arial, helvetica;
  font-weight: bold ;
  font-size: 20px;
  background-color: bisque;
  color:black;
}
/* Both html style */
h1 {
  font-size: 5rem;
  /* font-family: 'Nerko One', cursive; */
  font-family: 'Permanent Marker', cursive;
  /* font-family: 'Sedgwick Ave Display', cursive; */
  color:black;

#logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

#logo h1 {
  border: 1px solid red;
  justify-content: flex-start;
  padding-left: 3rem;
  font-size: 5rem;

}

#links {
  border: 1px solid red;
  width: 25%;
  padding: 1rem;
  font-size: 2.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Bangers', cursive;
  flex-wrap: nowrap;
}

#links li {
  display: inline;
  border: 1px solid red;
}

#links li a {
text-decoration: none;
width: 100%;
}

#form {
  width: 30%;
  margin: auto;
  margin-top: 2rem;
  padding: 2rem;
  border: 1px solid red;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

label {
  display: block;
  padding: 1rem;
}


button {
  margin: 1rem;
  padding: 1rem;
}

/* about html */

.background-img{
  /* img from fabio on unplash free picture to use */
  background-image: url('/img/background-fabio-oyXis2kALVg-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: white 0px 0px 2px;
  position:relative; 
  left:80px; top:2px;
  color: white;
}
.bio-info-jeff {
  font-family: 'Ibarra Real Nova', serif;
}